<h1>Admin#show</h1>
<p>Find me in app/views/admin/show.html.erb</p>

<form accept-charset="UTF-8" action="/events/1/update" method="post">
  <input name="event[admin_user_id]" value="" />
  <input name="event[name]" value="" />
  <input name="event[event_date]" value="" />
  <input name="event[limit_date]" value="" />
  <input name="event[url]" value="" />
  <input name="event[course_id]" value="" />
  <input name="event[description]" value="" />
  <input name="commit" type="submit" value="Sign up" />
</form>


<form accept-charset="UTF-8" action="/questions/5/update" method="post">
  <input name="question[event_id]" value="" />
  <input name="question[question_number]" value="" />
  <input name="question[sentence]" value="" />
  <input name="question[points]" value="" />
  <input name="question[type_id]" value="" /></br>
  <input name="aaa[choice[id]]" value="" />
  <input name="aaa[choice[question_id]]" value="" />
  <input name="aaa[choice[sentence]]" value="" />
  <input name="aaa[choice[correct_flag]]" value="" />
  <input name="aaa[choice[choice_number]]" value="" />
  <input name="aaa[choice[answered_times]]" value="" /></br>
  <input name="aaa[choice2[id]]" value="" />
  <input name="aaa[choice2[question_id]]" value="" />
  <input name="aaa[choice2[sentence]]" value="" />
  <input name="aaa[choice2[correct_flag]]" value="" />
  <input name="aaa[choice2[choice_number]]" value="" />
  <input name="aaa[choice2[answered_times]]" value="" />
  <input name="commit" type="submit" value="Sign up" />
</form>

<a href="/questions/2/delete" data-method="delete" rel="nofollow">delete</a>

<a href="/events/3/delete" data-method="delete" rel="nofollow">delete</a>
