<h1>Admin#show</h1>
<p>Find me in app/views/admin/show.html.erb</p>

<form accept-charset="UTF-8" action="/events" method="post">
  <input name="event[admin_user_id]" value="" />
  <input name="event[name]" value="" />
  <input name="event[event_date]" value="" />
  <input name="event[limit_date]" value="" />
  <input name="event[url]" value="" />
  <input name="event[course_id]" value="" />
  <input name="event[description]" value="" />
  <input name="commit" type="submit" value="Sign up" />
</form>
