<!DOCTYPE html>
<html>
<head>
  <title>QuizServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="hero-unit login-hero" id="banner">
  <div class="container">
    <div class="jumbotron col-md-12 col-lg-12 col-sm-12">
      <div class="yeild-info">
        <%= yield %>
      </div>
    </div>
  </div>
</header>

<div class="container">
</div>
  <div class="container-fluid">

  </div>
</body>
</html>
