<p>QUIZ PARTYをご利用いただき、ありがとうございます。</p>

<p>このメールは、年収ウォッチにメールアドレスをご登録された方にお送りしております。</p>
<p>個人情報管理の観点から、メールアドレスのご本人様確認をするため、この手続きをお願いしております。</p>
<p>お手数ですが、下記のURLから本会員登録をお願いいたします。</p>

<p>┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓</p>

<p>下記URLへ「24時間以内」にアクセスし、</p>
<p>アカウントの本登録を完了させて下さい。</p>
<p><%= link_to 'こちらをクリック', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛</p>

<p>※当メール送信後、24時間を超過しますと、セキュリティ保持のため有効期限切れとなります。</p>
<p>その場合は再度、最初からお手続きをお願い致します。</p>

<p>※お使いのメールソフトによってはURLが途中で改行されることがあります。</p>
<p>その場合は、最初の「http://」から末尾の英数字までをブラウザに</p>
<p>直接コピー＆ペーストしてアクセスしてください。</p>

<p>※当メールは送信専用メールアドレスから配信されています。</p>
<p>このままご返信いただいてもお答えできませんのでご了承ください。</p>

<p>※当メールに心当たりの無い場合は、誠に恐れ入りますが</p>
<p>破棄して頂けますよう、よろしくお願い致します。</p>