<div ng-controller="AdminQuestionCtrl">
  <link rel="stylesheet" href="styles/screen.css">
  <link rel="stylesheet" href="styles/ranking.css">
  <link rel="stylesheet" type="text/css" href="views/util/jquery.flipcountdown.css" />
  <link rel="stylesheet" type="text/css" href="views/util/jquery.flipcountdown.css" />
  <script type="text/javascript" src="views/util/jquery.min.js"></script>
  <script type="text/javascript" src="views/util/jquery.flipcountdown.js"></script>

  <div ng-show="finish">
    <!-- <ol ng-repeat="r in result | limitTo: 5">
      <li class="rank"> 名前:{{r.name}}</li>
    </ol>  -->
    <ol>
      <li class="rank"> 名前:テストユーザ</li>
      <li class="rank"> 名前:テストユーザ2</li>
      <li class="rank"> 名前:テストユーザ3</li>
      <li class="rank"> 名前:テストユーザ4</li>
    </ol>
  </div>

  <div ng-hide="finish">
    <div class="container">
     <div class="row">
      <div class="col-md-8">
       <h2>問題 {{question.question_number}}</h2>

       <div class="panel panel-default">
        <div class="panel-body">
         {{question.sentence}}
       </div>
     </div>
      <div class="row">
       <div class="number" ng-repeat="c in choices">
        <div class="col-md-6">
         <div class="thumbnail">
           <h3 ng-class="{red: c.correct_flag && showAnswer}">{{c.sentence}}</h3>
         </div>
        </div>
       </div>
      </div>

     <div class="btn-group btn-group-justified" role="group" aria-label="...">
       <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="next()">次の問題へ</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="answer()">回答</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="countDown()">回答開始</button>
      </div>
    </div>
  </div>
  <div id="countDownBox"></div>


</div>
</div>
</div>
</div>


