<div ng-include="'views/components/navbar.html'"></div>

<div class="container">
  <h2>イベント一覧</h2>

  <!-- イベント一覧 -->
  <div class="row">
    <ul class="event-cards col-sm-12 col-md-6">
      <li class="event-card" ng-repeat="event in events">
        <a ng-href="/admin/event/{{event.id}}">
          <!-- カレンダー風アイコン -->
          <p class="event-date">
            <span class="month">{{event.event_date | date:'MMM'}}</span>
            <span class="date">{{event.event_date | date:'dd'}}</span>
          </p>

          <p class="event-name big-text">{{event.name}}</p>
          <p class="event-description">{{event.description}}</p>
        </a>
      </li>

      <!-- 新規イベント作成 -->
      <li class="event-card text-center">
        <a href ng-click="createEvent()">
          <span class="glyphicon glyphicon-plus"></span>
          新規イベント作成
        </a>
      </li>

    </ul>
  </div>


</div>
<div ng-include="'views/components/footer.html'"></div>
