<div ng-controller="questionCtrl">
	<link rel="stylesheet" href="styles/question.css">
	
	<div align="center">
		<img src="images/beckham.jpg" alt="I'm beckham" class="img-thumbnail">
	</div>

	<h2>問題</h2>
	<div class="panel panel-default">
  <div class="panel-body">
    Who is This ?
  </div>
</div>
	

	<h2>回答</h2>

	<section>
    	<ul class="list-group quizTable" >
  			<li class="list-group-item"><a href="all">A. Beckham</a</li>
  			<li class="list-group-item"><a href="news">B. おおさこ</a></li>
 			<li class="list-group-item"><a href="omoshiro">C.はいじ</a></li>
  			<li class="list-group-item"><a href="web">D. まっつん</a></li>
		</ul>
	</section>


</div>
