<div class="row">
<div class="jumbotron col-sm-12">
  <form class="form form-inline" name="form" ng-submit="login(form)" novalidate>
    <div class="form-group">
      <label for="name">名前</label>
      <input id="name" name="name" class="form-control" ng-model="user.name" required>
    </div>

    <input name="event_id" class="form-control" ng-model="user.id" type="hidden" ng-init="user.id='1'">

    <button class="btn btn-inverse btn-lg btn-login" type="submit"> ログイン </button>
  </form>
</div>
</div>
